@using DailyStory.SDK.DotNet;
@using System.Configuration;
@{
    string SiteId = ConfigurationManager.AppSettings["DailyStorySiteId"]; ;
    string WebFormId = "rskd7";
}
<script type="text/javascript" src="https://cms-1.dailystory.com/Scripts/ds-landingpages.js"></script>
<link rel="stylesheet" id="ds-webform-css" href="https://cms-1.dailystory.com/Content/base_webform.css?ver=1.0.2" type="text/css" media="all">
<h1>Basic Web Form with Base CSS</h1>
@Html.Raw(WebForm.RenderWebForm(SiteId, WebFormId))