@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DailyStory .NET SDK Samples</h1>
    <p class="lead">This sample ASP.NET application demonstrates how to use the DailyStory .NET SDK.</p>
    <p><a href="https://docs.dailystory.com/sdk/dotnet" class="btn btn-primary btn-lg">DailyStory .NET SDK Documentation &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Web Forms</h2>
        <p>
            A <a href="https://docs.dailystory.com/acquisition/web-forms">DailyStory Web Form</a> enables you to quickly and easily create forms that can be shown on your 
            website, in your mobile application, a DailyStory landing page, or elsewhere using the DailyStory API.
        </p>
        <p><a class="btn btn-default" href="WebForms">Web Form Examples &raquo;</a></p>
    </div>
</div>